.event-box {

	background: none;
	padding: 5px 5px 5px 5px;
}


.row {
	padding: 0;
	margin: 0;
}

.event-img {

	height: 20px;
	width: 20px;
	margin-right: 10px;
}

.btn {
	font-size: 12px;
	padding: 5px 5px 5px 5px;
}

#top {
	float:center;
    padding:3px; 
    height: 53vh;
}

.container-fluid {
	padding: 0;
}
 #main-container {
}
/*	padding-top: 30px;
	overflow:auto;
    background:#fff;
*/    min-height: calc(100vh-300px)
	padding: 0;
}

#loaderimg {
	max-width: 15vw;
	filter: grayscale(100%);
}
#errormessage, #message, #loader {
	font-size: 20px;
	text-align: center;

}

img, #upbutton, #logo {
	border: none;
	margin:0;
	padding:0;
}

#logo {
	height: 20px;
}

.rightfilter {
	text-align: : left;
}

.leftfilter {
	text-align: right;
}


.jumbotron {
    margin: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("background.jpg") ;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-top:1em;
    padding-bottom:1em;
    color: #505058;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  display: flex;
  align-items: center;
  height: 350px;
}

#searchbar {	
	font-size: 12px;
	font-family: arial;

}

/*CHECKHERE*/

/*.main {

	height: 53vh;  40 vh for jumbotron + 7 vh for footer
}*/


#footer {
	position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
	background-color: #505058;
	color: #fff;
	height:70px;
	padding: 0;
	margin:0;
}

#poweredby {
	text-align: right;
	font-size: 12px;
	padding: 0;
	margin:0;
}
