.event-box {

	background: none;
	padding: 5px 5px 5px 5px;
}


.row {
	padding: 5px 5px 5px 5px;
	margin: 0;
}

.event-img {

	height: 20px;
	width: 20px;
	margin-right: 10px;
}

.btn {
	font-size: 12px;
	padding: 5px 5px 5px 5px;
}

 #race-data-container {
	
	padding-top: 30px;
}

img, #upbutton, #active-logo {
	border: none;
	margin:0;
	padding:0;
}

#active-logo {
	height: 20px;
}

#poweredby {
	text-align: right;
	font-size: 12px;
}

.jumbotron {
    margin: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("background.jpg") ;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-top:1em;
    padding-bottom:1em;
    color: black;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  display: flex;
  align-items: center;
}