.event-box {

	background: none;
	padding: 5px 5px 5px 5px;

}


.event-img {

	height: 20px;
	width: 20px;
	margin-right: 10px;
}



.btn, #race-data-container {
	font-size: 12px;
	padding-top: 30px;
}

img, #upbutton, #active-logo {
	border: none;
	margin:0;
	padding:0;
}

#active-logo {
	height: 25px;
}